*/**/*.DS_Store
microenviron/Tmp/
microenviron/data/
microenviron/figures/
microenviron/intermediate_data/
microenviron/misc/
microenviron/output_*/
microenviron/vis/
microenviron/plotters/feature_sets/
*/**/__pycache__
