*/**/*.DS_Store
microenviron/Tmp/
microenviron/data/
microenviron/figures/
microenviron/intermediate_data/
microenviron/misc/
microenviron/output_*/
microenviron/vis/
microenviron/plotters/feature_sets/
microenviron/plotters/hippocampus/del*/
microenviron/plotters/hippocampus/ION_HIP/*csv
microenviron/plotters/hippocampus/*.pkl
microenviron/plotters/hippocampus/ION_HIP/swc*/
microenviron/plotters/hippocampus/ION_HIP/point_*/
microenviron/plotters/whole-brain_projection/*txt
microenviron/response_r1/*/
microenviron/plotters/hippocampus/ION_HIP/ion_hip/
microenviron/plotters/feature_separability/*csv
microenviron/plotters/*/figures/
microenviron/plotters/merfish/
microenviron/plotters/whole-brain_projection/data/

*/**/__pycache__
*/**/tmp*png
*/**/*.log
microenviron/plotters/ds*csv
microenviron/plotters/CP_single_morphologies/*csv
microenviron/plotters/CP_single_morphologies/*/
microenviron/*png
microenviron/plotters/feature_separability/*png
microenviron/plotters/data/
*/**/*.swp
*/**/vis/
